.header {
  height: 550px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: @header-background-color !important;
  position: relative;

  .navbar {
    background-color: transparent !important;
  
    .menu-header-container {
      margin: 0 auto;
    }

    .navbar-nav {
      li {
        margin: 0 10px;
        a {
          color: #fff !important;
        }

        &.active {
          a {
            color: #fff !important;
            font-weight: bold;
          }
        }

        &.logo {
          a {
            font-size: 45px;
            padding-top: 0px;
            font-family: @logo-font;
          }
        }
      }
    }

    .website_logo {
      position: absolute;
      top: 20px;
      left: 50px;
      width: 150px;
      border: 2px solid #000;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}