// Responsive settings: From 0px to 576px;
@media screen and (max-width: @phone-screen) {

}
// Responsive settings: From 576px to 768px;
@media screen and (min-width: @phone-screen) and (max-width: @tablet-screen) {

}
// Responsive settings: From 768px to 992px;
@media screen and (min-width: @tablet-screen) and (max-width: @desktop-screen) {

}
// Responsive settings: From 992px to 1024px;
@media screen and (min-width: @desktop-screen) and (max-width: @tablet-screen-landscape){
  .header {
    .navbar {
      .navbar-nav {
        li {
          padding-top: 10px;

          &.logo {
            padding-top: 0;
          }
        }
      }
    }

    .website_logo {
      width: 120px !important;
    }
  }
}
// Responsive settings: From 1200px and up;
@media screen and (min-width: @desktop-large-screen) {
  .header {
    .navbar {
      .navbar-nav {
        li {
          padding-top: 10px;

          &.logo {
            padding-top: 0;
          }
        }
      }
    }
  }
}
