// Wordpress image alignment

img {
  &.alignright {
    float: right;
    margin:0 0 1em 1em;
  }

  &.alignleft {
    float:left;
    margin:0 1em 1em 0;
  }

  &.aligntcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  img {
    &.alignright {
      float: right;
      margin:0 0 1em 1em;
    }

    &.alignleft {
      float:left;
      margin:0 1em 1em 0;
    }

    &.aligncenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
