@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
img.aligntcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Raleway', sans-serif;
}
.card-image-container {
  max-height: 350px;
  overflow: hidden;
}
.header {
  height: 550px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #3e2d53 !important;
  position: relative;
}
.header .navbar {
  background-color: transparent !important;
}
.header .navbar .menu-header-container {
  margin: 0 auto;
}
.header .navbar .navbar-nav li {
  margin: 0 10px;
}
.header .navbar .navbar-nav li a {
  color: #fff !important;
}
.header .navbar .navbar-nav li.active a {
  color: #fff !important;
  font-weight: bold;
}
.header .navbar .navbar-nav li.logo a {
  font-size: 45px;
  padding-top: 0px;
  font-family: 'Baloo Bhaina', cursive;
}
.header .navbar .website_logo {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 150px;
  border: 2px solid #000;
}
.header .navbar .website_logo img {
  max-width: 100%;
  height: auto;
}
.homepage_slogan {
  background: #eb5825;
  line-height: 100px;
  text-align: center;
  color: #fff;
  font-size: 35px;
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .header .navbar .navbar-nav li {
    padding-top: 10px;
  }
  .header .navbar .navbar-nav li.logo {
    padding-top: 0;
  }
  .header .website_logo {
    width: 120px !important;
  }
}
@media screen and (min-width: 1200px) {
  .header .navbar .navbar-nav li {
    padding-top: 10px;
  }
  .header .navbar .navbar-nav li.logo {
    padding-top: 0;
  }
}
