// Import fonts
@import "fonts.less";

// Responsive breakpoints
@phone-screen:            576px;  // Small devices (landscape phones, 576px and up)
@tablet-screen:           768px;  // Medium devices (tablets, 768px and up)
@tablet-screen-landscape: 1024px; // Medium devices (tablets in landscape mode)
@desktop-screen:          992px;  // Large devices (desktops, 992px and up)
@desktop-large-screen:    1200px; // Extra large devices (large desktops, 1200px and up)
@hd-laptops:              1366px; // For notebooks;

// Fonts variables
@default-font: 'Raleway', sans-serif;
@logo-font: 'Baloo Bhaina', cursive;

// Colors
@default-color-first: #EB5825;
@default-color-second: #21174c;

// Header variables 
@navbar-menu-item-lineheight: 50px;
@header-background-color: #3e2d53;
